body
{
	margin: 0;
	padding: 0;
	color: #222;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
	font-family: 'Cabin', sans-serif;
}

h1
{
	font-size: 28px;
}

a
{
	color: #000;
}

#page
{
	background: white;
	border: 1px solid #CCC;
	width: 1068px;
	margin-top: 20px;
}

#inner-page
{
	margin: 20px;
	/*height: 640px;*/
}

#header
{
	margin: 0;
	padding: 0;
	height: 150px;
	border-top: 1px solid #444;
}

#content
{
	width: 865px;
	height: 560px;
	margin-top: 15px;
}

.negative
{
	color: #FFF;
	background-color:#444;
}

#sidebar
{
	width: 148px;
	height: 560px;
	float:right;
	margin-top: 15px;
	margin-left: 15px;
}

input
{
	background-color: #FFF;
	border: #BBB solid 1px;
	font-family: 'Cabin', sans-serif;
}

#sidebar .side_title
{
	padding: 5px 40px;
}
#sidebar .part
{
	margin-bottom: 5px;
}
#sidebar .section
{
	margin-bottom: 15px;
}
#sidebar input
{
	width: 142px;
	padding: 2px;
}
#sidebar input[type=submit]
{
	width: 148px;
}

input[type=submit]
{
	border: #777 solid 1px;
	color: #FFF;
	background-color:#777;
}
input[type=submit]:hover
{
	border: #AAA solid 1px;
	background-color:#AAA;
	cursor: pointer;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	font-size: 118px;
	margin: 0 auto;
	width: 1028px;
	text-align: center;
}

#mainmenu
{
	height: 35px;
	/*background-color: #EAB;*/
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

#mainmenu ul
{
	width: 600px;
	height: inherit;
	margin:0px auto;
	padding: 0;
}

#mainmenu ul li
{
	float:right;
	display: block;
	width: 150px;
	height: inherit;
	padding-left: 10px 20px;
}

#mainmenu ul li a
{
	display: block;
	height: 15px;
	background-color: transparent;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	padding:9px 48px 11px 48px;
	font-size: 16px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #FFF;
	background-color:#444;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}