*RUtils
*.log
static
assets
index.php
index-test.php
protected/config/*.php
!protected/config/*template.php
index.php
index-test.php
bin/lame.exe
bin/lame_enc.dll
!protected/extensions/*/assets
*.psd
.DS_Store
