.timeline {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: #FFF;
    /*font-family: "Lucida Grande", Lucida Sans Unicode, Tahoma, Arial;*/
    font-family: 'Cabin', sans-serif;
    font-size: 8pt;
}

.timeline_arrows {
    overflow: hidden;
    padding-left: 2px; 
    padding-bottom: 2px;
    zoom: 1;
}

.timeline_arrows div {
    float: left;
}

.timeline_date {
    width: 80px;
    height: 18px;
    text-align: center;
    color: #fff;
    background-color: #444444;
    padding: 2px 15px 0px 15px;
    line-height: 1.6em;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.timeline_lastyear,
.timeline_lastmonth,
.timeline_nextmonth,
.timeline_nextyear {
    cursor: pointer;
    width: 15px;
    height: 20px;
    background: url(../images/arrows_awt.png) no-repeat;
}

.timeline_lastyear,
.timeline_nextyear {
    display: none;
}

.timeline_lastyear {
    border-right: 1px solid #FFF;
}

.timeline_lastyear:hover {
    background-position: 0px -20px;
}

.timeline_lastmonth,
.timeline_nextmonth {
    background-position: -15px 0px;
}

.timeline_lastmonth:hover,
.timeline_nextmonth:hover {
    background-position: -15px -20px;
}

.timeline_nextyear {
    background-position: -30px 0px;
    border-left: 1px solid #FFF;
}

.timeline_nextyear:hover {
    background-position: -30px -20px;
}

.timeline_top {
    overflow : hidden;
    display: block;
}

.timeline_bottom {
    overflow : hidden;
    display: block;
}

.timeline_top ul, 
.timeline_bottom ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.timeline_top li, 
.timeline_bottom li {
    float: left;
    margin-right: 1px;
    padding: 3px 2px 0px 2px;
    border-bottom: 1px solid #FFF;
}

.timeline_bottom li {
    border: none;
}

.timeline_bottom li {
    padding: 0px 2px 3px 2px !important;
}

.timeline_top li div, 
.timeline_bottom li div {
    text-transform: uppercase;
    text-align: center;
    width: 20px;
}

.timeline_top div {
    /*background: url(../images/normal.gif) no-repeat left top;*/
    background-color: #fee4f4;
    padding: 3px 0px 5px 0px !important;
} 

.timeline_bottom div {
    /*background: url(../images/normal.gif) no-repeat left bottom;*/
    background-color: #fee4f4;
    padding: 5px 0px 3px 0px !important;
}

.timeline_top .today {
    /*background: url(../images/today.gif) no-repeat left top;*/
    background-color: #fee4f4;
    padding: 3px 0px 5px 0px !important;
} 

.timeline_bottom .today {
    /*background: url(../images/today.gif) no-repeat left bottom;*/
    padding: 5px 0px 3px 0px !important;
}

.timeline_top .event, 
.timeline_bottom .event {
    background-color: #FB470F;
    cursor: pointer;
}

.timeline_bubble {
    display: none;   
    overflow: hidden;
    width: 142px; 
    position: absolute; 
    /*font-family: "Lucida Grande", Lucida Sans Unicode, Tahoma, Arial;*/
    font-family: 'Cabin', sans-serif;
    font-size: 8pt;
}

.timeline_bubble .bubble_top,
.timeline_bubble .bubble_bottom,
.timeline_bubble .bubble_mid {
    /*background: url(../images/bubble_awt.png) repeat-y;*/
    /*background-color: #FB470F;*/
    overflow: hidden;
}
.timeline_bubble .bubble_top {
    /*background: url(../images/up_arrow_17x17.png) no-repeat;*/
    height: 15px;
    width: 15px;
    position: relative;
    left: 64px;
    overflow: hidden;
}
.timeline_bubble .bubble_top .bubble_top_inner {
    /*background: url(../images/up_arrow_17x17.png) no-repeat;*/
    position: relative;
    top: 7px;
    left: -3px;
    height: 21px;
    width: 21px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    background-color: #FB470F;
}

.bubbleIE6 {
    background-image: url(../images/bubble_awt.gif) !important;
    /*background-color: #FB470F;*/
}

.timeline_bubble .bubble_top{
    height: 10px;
    background-position: 56px 0px;
}

.timeline_bubble .bubble_bottom{
    height: 10px;
    background-position: -142px -38px;
}

.timeline_bubble .bubble_mid {
    background-position: -284px -1px;
    overflow: hidden;
}

.timeline_bubble .event_title{
    cursor: pointer;
    color: #FFF;
    padding: 3px 0px 3px 0px;
    margin: 0px 5px 0px 5px;
    /*border-bottom: 1px solid #999;*/
    font-weight: bold;
}

.timeline_bubble .event_title:hover{
    color: #fee4f4;
}

.timeline_bubble .event_title:hover + next{
    display: block;
}

.timeline_bubble .event_data {
    overflow: hidden;
    display: none;
    color: #fff;
    font-weight: normal;
    margin: 3px 0px 0px 0px;
}